@model List<Devs2Blu.CopaMundo.Models.Copa.Match>

@foreach (var item in Model)
{
            <div class="card mx-auto mb-3 col-6" style="width: 15rem;">
            <div class="card-header">
                <h3 class="text-center">@item.Round</h3>
                <h6>@item.Date.ToString("dd/MM/yyyy")</h6>
                
            </div>
            <div class="card-body">
                <ul class="list-group text-center">
                    <li class="list-group d-flex justify-content-between">
                        <h5 class="text-center text-danger">@item.Group</h5>
                        <h5>@item.Team1 vs @item.Team2</h5>
                    </li>
                </ul>
            </div>
        </div>
}
